html {
	background: #ccc;
}
#Header {	
	background-color: #488ccc; 
	font-family: Verdana, Arial, sans-serif; 
	font-size: 20px; color: #ffa900;
}

#Footer {
	background-color: #dd2222; 
	font-family: Verdana, Arial, sans-serif; 
	font-size: 20px; color: #ffa900;
	font-style: italic;
}

#earth{
	background-color: #bf0; 
	font-family: Verdana, Arial, sans-serif; 
	font-size: 20px; 
	color: #ffa900;
}

h2{
	background-color: #0fff00; 
	font-family: Verdana, Arial, sans-serif; 
	font-size: 15px; 
	color: #f6ef05;
}

h3{
	background-color: #3306f0; 
	font-family: Arial, sans-serif; 
	font-size: 12px; color: #fff
}

h4{
	background-color: #eee; 
	font-family: Arial, sans-serif; 
	font-size: 17px; color: #E00
}

h1, h2, h3, h4 {
	padding-top: 20px;
	padding-bottom: 20px;
}

ol li, ul ol li { list-style-type: decimal;}

ol li ol li {list-style-type: lower-roman;}

ol li ol li ol li {list-style-type: upper-roman;}

blockquote {
	background-color: #000;
	margin: 0px 0px 20px 20px; /*top right bottom left*/
	padding-top: 20px;
	border: 1px solid #666;
	border-left-width: 10px;
	font-style: italic;
	color: #ccc;
	font-family: Georgia, Arial, sans-serif; 
}

blockquote:hover {
	color: #666;
	border-color: #ccc;
}

blockquote.p:last-child {
	padding: 0;
}

a {
	font-size: 15px;
}

a:link {color: blue}
a:visited {color: yellow}
a:hover {color: red;}
a:active {color: green;}
