@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic&subset=latin,cyrillic-ext,cyrillic,latin-ext);

* {margin: 0;padding: 0;}

body {font: 16px/1.5 "Open Sans Condensed", Arial, sans-serif; }

body, html {height: 100%; width: 100%; overflow: hidden;}


#container {display: block; height: 800px; width: 700px; margin: 2% 25% ; padding: 20px 20px 20px 20px ; background: #4D4D4D; border-top-left-radius: 5px;  border-top-right-radius: 5px; border-bottom-left-radius: 5px;  border-bottom-right-radius: 5px; }


#behind {display: block; height: 400px; width: 600px; margin: 150px 50px; padding: 0.2%; background: #6C7982; border-top-left-radius: 5px;  border-top-right-radius: 5px; border-bottom-left-radius: 5px;  border-bottom-right-radius: 5px; }


#header {display: block; border-bottom: 1px solid #000; border-spacing: 560px;}
#header #inner { float: left; }
#header #nav { overflow: hidden;}

#rightpic { height: 60px; width: 60px; float: left;margin-top: 10px; margin-left: 10px ;  border-bottom-left-radius: 5px; border-top-left-radius: 5px; background: #2F3336; }
#rightpic img {margin: 5px; }

#leftpic {display: block;  height: 60px; width: 300px; margin-top: 10px; color: #fff; background: #465058; border-bottom-right-radius: 5px; border-top-right-radius: 5px; overflow: hidden;}
#leftpic .right { float: left; margin: 10px 0 0 10px ; }
/*#leftpic .left {overflow: hidden;}*/
#leftpic .left img {margin: 10px 70px;position: absolute; }


#nav {padding-left: 40px;}
#nav ul { width: 300px;  overflow: hidden;}
#nav ul li {display: block; float: left; margin: 10px 5px ;}
#nav ul li img.leftButton,
#nav ul li img.rightButton {height: 75px; width: 75px;  }
#nav ul li img.playbutton {height: 120px; width: 120px; overflow: hidden;}

#controls { display:block;float: }
#controls img { margin: 10px 30px 0 10px; }
#controls span {color: #fff;}
#controls .rightCtrl {overflow: hidden;}

#main {display: block; height: 260px; width: 580px; margin-left: 10px ;margin-top: 0px;border-radius: 5px 5px 5px 5px; background: #fff;}
#main  ol li {border-bottom: 1px solid #ccc; padding-bottom: 10px; position: relative; }
#main  ol li:last-child {border-bottom: none;}
#main .playlist {margin-left: 30px; }


ol.playlist li {position: relative; color: #000; font-weight: bold;	}
ol.playlist li span {display: block; padding: 2px 5px; position: absolute; top: 0; }
ol.playlist li span.title {left: 0; white-space: nowrap; overflow: hidden; }
ol.playlist li span.time {right: 0; margin: 0;}
ol.playlist li span img {padding-top: 5px; margin-right: 5px;}
ol.playlist li span a {text-decoration: none;}
ol.playlist li span a:hover {color: #485259}
ol.playlist li span a:visited {color:#384146;}


button.leftbtn {border-radius: 50%; margin-top: 10px;}
button.playButton {border-radius: 50%; }
button.rightButton {border-radius: 50%; margin-top: 10px;}

audio {margin-left: 10px; margin-top: 20px; width:580px; height:20px;}

label {margin-right: 10px;}

option {display: none;}

